/* External font */
@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&display=swap");

/* #region Utils */
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Clearfix */
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* #endregion */

/* #region Global config */
/* Global style */
body {
  /* Font */
  font-family: "Chivo", Arial, Helvetica, sans-serif;
  font-weight: 300;
  /* Bg image */
  background: url("../img/bg.jpg") fixed;
}
/* Links */
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
/* Hover Links */
a:hover {
  color: #2f7adb;
}
/* Highlighted Links */
a.active {
  color: #2f7adb;
}
/* Highlighted links on hover */
a.active:hover {
  color: black;
}
/* #endregion */

/* #region Header */
header {
  /* Set height */
  height: 350px;
  /* DEV PURPOSE */
  /* background-color: grey; */
  /* Set padding */
  padding-top: 30px;
  /* Align content to center */
  text-align: center;
}
header .logo {
  /* displays as inline-block */
  display: inline-block;
  /* Set margin bottom */
  margin-bottom: 34px;
}
header .logo img {
  width: 210px;
  height: 210px;
}

header h1 {
  /* Set font */
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #2f7adb;
}
/* #endregion */

/* #region Navbar */
nav {
  /* Set height */
  line-height: 120px;
  /* Set to uppercase */
  text-transform: uppercase;
  /* Set width */
  width: 657px;
  /* center navbar */
  margin: 0 auto;
  /* DEV */
  /* background-color: grey; */
}
/* Navbar list */
nav ul {
  /* make display to flex */
  display: flex;
  /* arrange item spacing */
  justify-content: space-between;
  list-style: none;
}
/* Navbar item */
nav ul a{
    font-weight: normal;
}
/* #endregion */

/* #region Content Area */
/* Container */
main {
  /* Set content area size */
  width: 1200px;
  margin: 0 auto;
  /* dev: set background color */
  /* background-color: #bfa; */
}
/* Each row's style */
.content {
  /* Set margin */
  margin: 0 auto 30px auto;
  /* Set background color */
  background-color: rgba(255, 255, 255, 0.6);
}
/* Blocks in Row */
.content a > div {
  /* Set size */
  width: 580px;
  height: 375px;
  /* hide overflow */
  overflow: hidden;
}
/* Set odd rows: preview left legend right */
.content:nth-child(odd) .preview {
  float: left;
}
.content:nth-child(odd) .legend {
  float: right;
}
/* Set even rows: legend left preview top */
.content:nth-child(even) .preview {
  float: right;
}
.content:nth-child(even) .legend {
  float: left;
}
/* Set even rows' text align to right */
.content:nth-child(even) .legend .work-title,
.content:nth-child(even) .legend p {
  text-align: right;
}

/* Preview container */
.preview {
  /* Dev */
  /* background-color: red; */
  /* Align content to center */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Preview image */
.preview img {
  /* Set size */
  width: 375px;
  /* image position to remove offset */
  vertical-align: middle;
}

/* Legend block */
.legend {
  /* Create padding */
  padding: 100px 40px;
  line-height: 2;
  font-weight: 300;
  /* Dev */
  /* background-color: green; */
}
/* legend title */
h2.work-title {
  /* bigger font size */
  font-size: 18px;
  font-weight: normal;
  /* Margin bot */
  margin-bottom: 30px;
}
/* #endregion */

/* #region Footer */
/* Container */
footer {
  /* Define sizes */
  height: 120px;
  width: 1200px;
  /* Center */
  margin: 20px auto;
  /* Apply flex in column */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* dev */
  /* background-color: orange; */
}
/* List container */
.footer-nav {
  /* To uppercase */
  text-transform: uppercase;
  display: flex;
  width: 700px;
  margin: 20px auto;
  list-style: none;
  justify-content: space-between;
}
/* List item */
.footer-nav a{
    font-size: 12px;
    font-weight: normal;
}
/* Footer signature container */
.footer-signature{
    /* Change to a lighter color */
    color: grey;
}
/* Copyright */
.copyright {
    float: left;    
}
.signature{
    float: right;
    text-align: right;
}
/* Heart */
#heart{
    color: #ff0000;
}

/* #endregion */
